/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200&display=swap");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #495867   ;
  --secondary-color: #F7F7FF ;
  --accent1-color: #BDD5EA;
  --accent2-color: #577399;

  /* change the values below to your chosen font(s) */
  --heading-font: Lobster, sans-serif;
  --paragraph-font: Oswald, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #495867;  /* headlines on a white background */ 
  --headline-color-on-color: #F7F7FF; /* headlines on a colored background */ 
  --paragraph-color-on-white: #495867; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #F7F7FF; /* paragraph text on a colored background */ 
  --paragraph-background-color: #495867 ;
  --nav-link-color: #495867;
  --nav-background-color: #F7F7FF;
  --nav-hover-link-color: #577399;
  --nav-hover-background-color: #495867;
}

#content {
    max-width: 100%;
    margin: 0 auto;
}
body {
    
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
#logo_link {
  width: 20px;
  align-self: left;
}
.logo {
  width: 300px;
  height: 300px;
  align-content: flex-start;
  padding: 0%;
  content: unset;
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
  display: grid;
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  margin-left: 600px;
}
.navc {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    margin-left: 600px;
    margin-top: -100px;
  }
.it-image {
  display: grid;
}
.dell-card {
  margin-left: 300px;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  display: grid;
}
.msg {
  margin-right: 900px;
}
nav  {
  list-style-type: none;
  display: flex;

}
.equipements {
  width: 100%;
  height: 100%;
}
footer {
  display: block;
  margin-bottom: 10px;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
.its-image {
  --gap: 10px;
  --num-cols: 3;
  --row-height: 50px;
  --moz-column-width: 50px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  grid-auto-columns: var(--moz-column-width);
  gap: var(--gap);
  max-width: fit-content;
}
.its-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.prods {
    --gap: 10px;
    --num-cols: 6;
    --row-height: 100px;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    background-color: #BDD5EA;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    margin-top: 300px;
}
.homes {
    --gap: 10px;
    --num-cols: 6;
    --row-height: 100px;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    background-color: #BDD5EA;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    margin-top: 20px;
  }
.socials {
    --gap: 2px;
    --num-cols: 6;
    --row-height: 20px;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    background-color: #BDD5EA;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    margin-top: 20px;
    margin-right: -200px;
  }
  .social {
    --gap: 2px;
    --num-cols: 6;
    --row-height: 20px;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    background-color: #BDD5EA;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    margin-top: 20px;
    margin-right: -200px;
  }
body {
    font-family: Arial;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  .itn-imagec {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .msgc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: -10px;
    margin-bottom: -20px;
    
  }
  .formc {
    margin-bottom: -100px;
  }
  .msgnc {
    position: relative;
    margin-left: 100px;
    margin-top: 500px;
  }
  .card-imgc {
    margin-left: -10px;
  }
  .abouts {
    --gap: 10px;
    --num-cols: 6;
    --row-height: 100px;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    background-color: #BDD5EA;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    margin-top: -10px;
  }
  .socialc {
    --gap: 2px;
    --num-cols: 6;
    --row-height: 20px;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    background-color: #BDD5EA;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    margin-top: 20px;
    margin-right: -200px;
  }